@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Efecto de desplazamiento */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Velocidad de desplazamiento móvil */
.animate-scroll {
  animation: scroll 10s linear infinite;
}

/* Pausar al posicionar encima*/ 
.animate-scroll:hover {
  animation-play-state: paused;
}

/* Velocidad vista Tablet*/
@media (min-width: 768px) {  
  .animate-scroll {
    animation: scroll 10s linear infinite;  
  }
}

/* Velocidad vista Desktop*/
@media (min-width: 1024px) {
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
}
